<div ng-include src="'partials/nav.html'"></div>
<div ng-include src="'partials/header.html'"></div>

<div class="container-fluid">
<style>
    div.image {
        text-align: center;
        float: left;
        width: 140px;
        padding: 3px;
    }
    div.image img {
        width:130px;
    }
</style>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">Screenshots</div>

                <div class="row">

                    <div class="col-md-10 col-md-offset-1">

                        <div ng-repeat="shot in vm.shots" class="image">
                            <a ng-click="vm.openLightboxModal($index)">
                                <img src="{{shot.thumbUrl}}" class="img-thumbnail">
                                <br>
                                {{shot.shot_at | formatDate}}</a>
                        </div>

                    </div>

                </div>

                <br>
                <br>



            </div>
        </div>

    </div>
</div>